@import 'bootstrap-sass-3.3.5/stylesheets/bootstrap-custom';
@import "fonts";

body {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;

	header {
		@extend .col-lg-8;
		@extend .col-lg-offset-2;
		@extend .col-sm-10;
		@extend .col-sm-offset-1;

		text-align: center;
		padding: 2em 0;

		@media(max-width: $screen-sm-min){
			padding: 1em;
		}

		input {
			@extend .col-sm-4;
			@extend .col-sm-offset-8;
			@extend .col-xs-12;
			padding: 0.25em;
		}

		span.glyphicon {
			position: absolute;
			right: 0.5em;
			top: 2.5em;

			@media(max-width: $screen-sm-min){
				right: 1.5em;
				top: 1.5em;
			}
		}

		img {
			@media(max-width: $screen-sm-min){
				margin-top: 2em;
			} 
		}
	}

	section.content {
		clear: both;
		text-align: center;

		ul { 
			padding: 0;
			@extend .col-lg-8;
			@extend .col-lg-offset-2;
			@extend .col-sm-10;
			@extend .col-sm-offset-1;

			li {
				@extend .col-lg-4;
				@extend .col-sm-6;
				@extend .col-xs-12;
				display: block;

				div {
					border-radius: 1em;
					padding: 1em;
					margin: 0.25em -11px;
					background-color: #ddd;
					height: 160px;

					@media(max-width: $screen-sm-min){
						height: auto;
					}

					h2 {
						margin: 0.25em 0;
					}
				}
			}

			&.featured li {
				@extend .col-sm-4;

				div {
					color: #fff;
					background-color: #f00;

					a {
						color: #fff;

						&:hover {
							color: #fca311;
						}
					}
				}
			}
		}
	}
}